.jumbotron {
  margin-bottom: 0;
  background-color: #36454f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  color: cornsilk;
}

.jumbotron p {
  font-size: 1.5em;
  
}

button {
  margin-left: 70px;
  font-size: 1.25em;
  color: cornsilk;
  background-color: cadetblue;
  /* margin-top: 25px; */
  border-radius: 5px;
}

button:hover {
  color:darkgrey;
}

.carousel {
  margin-bottom: 50px;
  width: 550px;
  height: 550px;
  margin: auto;
  margin-bottom: 25px;
}

.carousel h3, p {
  color: black;
  font-weight: bolder;
}

div.carousel.slide {
  margin: 0px 50px 25px;
}

.carousel img {
  border-radius: 15px;
}

/* img.d-block.w-100 {
  size: 50%;
} */

.randomDeleteButton {
  text-align: center;
  margin-left: 220px;
}
