.jumbotron{
  margin-bottom: 0;
  background-color: cornsilk;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-size: 1.5em;
}

button {
  font-size: 1.25em;
  color: cadetblue;
}

button:hover {
  color:darkgrey;
}
